@import 'styles/mixins';

.header {
  display: block;

  .innerContent {
    position: relative;
    z-index: 2;

    .firstHeaderSection {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: 102.44px;
      padding: 8px 0;
      background-color: var(--color-primary);
      border-bottom-color: #e4e4e4;

      .firstHeaderContainer {
        position: relative;
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
        z-index: 3;

        &::after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          line-height: 0;
          clear: both;
          visibility: hidden;
        }

        .firstHeaderContainerInner {
          position: relative;
          min-height: 1px;
          z-index: 3;

          .logoWrap {
            width: 130px;
            margin: 10px 0;
            line-height: 0;
            float: left;

            .imageWrap {
              position: relative;
              display: block;
              max-width: 100%;

              img {
                position: relative;
                width: 128px;
                max-width: 128px;
                height: auto;
              }
            }
          }

          .socialMediaList {
            @include flexbox;
            position: absolute;
            right: -6px;
            top: 5px;
            margin-top: 22px;
            color: var(--color-white);
            line-height: 26px;
            text-align: right;

            &::before {
              content: ' ';
              display: table;
              line-height: 0;
              clear: both;
            }

            .socialMediaListItem {
              position: relative;
              display: inline-block;
              margin-bottom: 8px;
              color: var(--color-white);
              line-height: 26px;

              a.icon {
                box-sizing: content-box;
                position: relative;
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 3px;
                text-align: center;

                &::before {
                  font-family: 'ETmodules' !important;

                  position: relative;
                  display: block;
                  width: 30px;
                  height: 30px;
                  font-size: 15px;
                  line-height: 30px;
                  color: var(--color-white);
                  z-index: 10;
                }
              }

              .socialMediaName {
                display: none;
              }

              &.socialInstagram {
                a.icon::before {
                  content: '\e09a';
                }
              }
              &.socialLinkedIn {
                a.icon::before {
                  content: '\e09d';
                }
              }
              &.socialFacebook {
                a.icon::before {
                  content: '\e093';
                }
              }
              &.socialTwitter {
                a.icon::before {
                  content: '\e094';
                }
              }
              &.socialYoutube {
                a.icon::before {
                  content: '\e0a3';
                }
              }
            }
          }

          .menuWrap {
            @include flexbox-custom(flex-end, center);
            position: absolute;
            right: 0;
            bottom: 0;
            width: 200px;
            margin-top: 36px;
            float: right;
            order: 3;

            .menuClearfix {
              @include flexbox;
              -webkit-box-align: stretch;
              align-items: stretch;

              &::before {
                content: ' ';
                display: table;
                line-height: 0;
                clear: both;
              }
              .menuNav {
                margin-right: -11px;

                .menuList {
                  @include flexbox;

                  .menuListItem {
                    @include flexbox;
                    align-items: stretch;
                    margin-top: 8px;
                    padding: 0 11px;

                    a {
                      padding-bottom: 8px;
                      font-size: 13px;
                      font-weight: 600;
                      color: var(--color-white);
                      letter-spacing: 0.06em;
                    }
                  }
                }
              }
            }
          }

          .languageSwitcher {
            position: absolute;
            right: 0;
            top: 0;
            padding-bottom: 10px;
            color: var(--color-white);
            order: 1;

            p {
              font-size: 13px;
              color: var(--color-white);

              strong {
                letter-spacing: 0.04em;
              }

              a {
                font-size: 14px;
                padding-top: 1px;
              }
            }
          }

          .subscribeButtonWrap {
            position: absolute;
            right: 200px;
            margin-top: 24px;
            margin-bottom: 1.5%;
            order: 1;

            a.subscribeButton {
              display: block;
              padding: 4.8px 16px;
              font-weight: 600;
              color: var(--color-white);
              letter-spacing: 0.05em;
              border: 1px solid var(--color-white);
              border-radius: 7px;
            }
          }
        }
      }

      @include mobile {
        width: 100%;
        padding: 0 30px;
      }
    }

    .lastHeaderSection {
    }
  }
}
